@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply flex min-h-full flex-col text-themes-txt_primary;
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: "#FAF9F6";
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Ubuntu Mono", monospace; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Typewriter {
  @apply inline;
}

/* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c92ff90;
  transition: all 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c92ff;
}
